.menu-logo {
    min-height: 130px;
    background-color: #fff;
    background-image: url('../imagens/logo-exemplo.png');
    background-size: 220px;
    background-position: center;
    background-repeat: no-repeat;
	
}
.menu-row {
    justify-content: center;
}

/*.mdl-layout__content {
    background-color: bisque;
    border: 1px burlywood solid;
}*/

