.menu-logo {
    min-height: 130px;
    background-color: #fff;
    background-image: url('../imagens/logo-beta-2.jpg');
    /* background-size: 220px; */
    background-position: center;
    background-repeat: no-repeat;
	
}
.menu-row {
    justify-content: center;
}

.mdl-grid {
    margin: 10px 0 10px 0;
}

.mdl-layout__content {
    background-color: #fafafa;
    border: 1px #ccc solid;
    padding: 15px;
}

